.login{
    .login-form{
        
        margin: 0 auto;
        position: absolute;
        top: 20%;
        left: 35%;
        h1{
            margin-bottom: 40px;
        }
        input{
            margin: 20px 0;
        }

    }
}